div {
  width: 100%;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-right: 4px;
  opacity: 0.8;
  transform: rotate(-45deg);
}

span {
  letter-spacing: 4px;
  font-size: x-large;
  font-weight: bold;
}