div {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
}

span {
  letter-spacing: 4px;
  font-size: x-large;
  font-weight: bold;
}