.app-container {
  width: 100%;
  height: 100%;
  display: grid;
}

.main-container {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}